@import 'views/styles/shared';




.task-item {
  display: flex;
  outline: none;
  border-bottom: 1px dotted #666;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 7px; 
  font-weight: 300;
  vertical-align: middle; 
  * { vertical-align: middle; }

  // @include media-query(540) {
  //   font-size: rem(24px);
  // }

}

.task-item:first-of-type {
  border-top: 1px dotted #666;
}

.task-item--editing {
  border-bottom: 1px dotted #ccc;
}


//=====================================
//  Cells
//-------------------------------------

.cell {
  &:first-child,
  &:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &:first-child {
    padding-right: 20px;
  }

  &:nth-child(2) {
    flex: 1;
    padding-right: 10px; 
  }
}


//=====================================
//  Buttons
//-------------------------------------
.task-item__button {
  margin-left: 5px;
  background: #2a2a2a;
  color: black;

  &:first-child {
    margin: 0;
  }

  

  // &:hover {
  //   color: #999;
  // }

  &:active {
    background: #262626;
  }

  &.active {
    color: black;
  }
}

.task-item__button {
  @include button-base;
  margin-left: 5px;
  outline: none;
  border: 0;
  border-radius: 100px;
  padding: 0;
  // width: 40px;
  // height: 40px;
  background: $bmyellow;
  transform: translate(0, 0);

  &:first-child {
    margin: 0;
  }
}

//=====================================
//  Title (static)
//-------------------------------------
.task-item__title { 
  display: inline-block;
  position: relative;
  max-width: 100%;
  outline: none;
  // overflow-wrap: normal;  
  // font-size: rem(18px);
  font-weight: 300;
  color: black;
  word-break: break-word;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    // height: 46%;
    content: '';
  }

  .task-item--completed & {
    color: #666;
  }

  .task-item--completed &:after {
    width: 100%;
  }

  .task-item--completed & {
    color: #666;
    text-decoration: line-through;
  }

  .task-item--completed &:after {
    width: 100%;
  }

  .task-item--completed.task-item--status-updated & {
    animation: fade-title 120ms ease-in-out;
  }

  .task-item--completed.task-item--status-updated &:after {
    animation: strike-title 180ms ease-in-out;
  }
}


.task-item--completed {
  div:first-of-type {
    .icon {
      color: black;
    }
  } 
  .task-item__title {
    color: lightgrey;
  }
}

//=====================================
//  Title (input)
//-------------------------------------
.task-item__input {
  outline: none;
  border: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  // color: black !important;
  font: inherit;
  font-style: italic;
  // font-size: 1rem;
  // background: transparent;
  // height: 4em;
  overflow: scroll; 
  overflow-x: hidden ; 
  overflow-y: auto ; 
  resize: none;

  // hide `x`
  &::-ms-clear {
    display: none;
  }

}


.icon {
  // line-height: 40px !important;
  color: rgb(0, 0, 0);

  .task-item__button:hover & {
    color: black;
  }
}

.icon--active {
  &, .task-item__button:hover & {
    color: #85bf6b;
  }
}


@keyframes fade-title {
  from { color: #fff; }
  to { color: #666; }
}

@keyframes strike-title {
  from { width: 0; }
  to { width: 100%; }
}

//scroll bar
::-webkit-scrollbar {
  width: 12px;

}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
  background-color: lightgrey;
  
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $bmyellow;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



.tickcell {
    button {
      color: $bmyellow;
    }
}

.titlecell {


}

.deleteorsendcell {

}
