@import 'views/styles/shared';

//PARENT
.sign-in { 
  margin-top: 90px;
  max-width: 300px;

  .sign-in__heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    font-family: 'grbold', Helvetica Neue, Arial, sans-serif;
  }

  //all the buttons
  button {

    @include button-base;
    // margin-bottom: 10px;
    border: 1px solid #555;
    width: 100%;
    height: 48px;
    font-family: inherit;
    font-size: rem(18px);
    line-height: 48px;
    padding-top: 2px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    // padding: 0;
    width: 100%;
    height: 48px;
    font-family: inherit;
    font-size: rem(18px);
    line-height: 48px;
    background-color: $bmyellow; 
    border-radius: 4px;
    font-family: 'grbold', Helvetica Neue, Arial, sans-serif;
    // color: #999;
    // background: transparent;

    &:hover {
      border: 2px solid #aaa;
      line-height: 46px;
      //border-color: #aaa;
    }
  }

  .google-icon {
    @include fa-icon(google);
    font-size: em2.2;
    font-weight: 800;
    padding-top: 2px;
    // margin-top: 10px;
    &:before {
      font-family: 'FontAwesome';
    }
  }

  .facebook-icon {
    @include fa-icon(facebook-f);
    font-size: em2;
    &:before {
      font-family: 'FontAwesome';
    }
  }
}