$base-background-color: white !default;
$base-font-color: black !default;
$base-font-family: 'grbook', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 18px !default;
$base-line-height: 24px !default;
// $bmyellow: rgb(247, 184, 28);
$bmyellow: #FFD712;
//=====================================
//  Grid
//-------------------------------------
$grid-max-width: 810px !default;
