@import
'./shared',
'minx/src/reset',
'minx/src/elements',
'./grid';


@font-face {
  font-family: 'grbold';
  src: url(grbold.otf) 
}
@font-face {
  font-family: 'grbook';
  src: url(grbook.otf) 
}



html {
  overflow-y: scroll;
}

body {
  padding-bottom: 120px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}


[hidden] {
  display: none !important;
}

::selection {
  background: rgba(44, 44, 150, 0.1);
}

body {
  .header {

  }


}