@import 'views/styles/shared';



.task-form {
  // margin: 40px 0 10px;

  // @include media-query(540) {
  //   margin: 80px 0 20px;
  // }
  * { vertical-align: middle; }
  
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;

  div { display: inline; }

  div.addbutton {
    padding-right: 20px;
    .material-icons {
      color: black;
      // padding-top: 2px;
    }
  }

  div.newtaskinput {
    // padding-right: 10px;
    // caret-color: red;
    flex: 1 1 0%;
    padding-right: 10px;
    
    .task-form__input {
      height: 40px;
      outline: none;
      border: 0;
      border-radius: 0;
      width: 100%;
      font-family: inherit;
      font-size: rem(24px);
      font-weight: 300;
      background: transparent;
      padding-left: 10px;
      border-radius: 5px;
      caret-color: $bmyellow;
      
      color: black;
      text-align: left;
      background: lightyellow;
    
      // @include media-query(540) {
      //   height: 61px;
      //   font-size: rem(32px);
      // }
    
      &::placeholder {
        color: #999;
        color: $bmyellow;    
        opacity: 1; // firefox native placeholder style has opacity < 1
      }
    
      &:focus::placeholder {
        color: #777;
        opacity: 1;
      }
    
      // webkit input doesn't inherit font-smoothing from ancestors
      -webkit-font-smoothing: antialiased;
    
      // remove `x`
      &::-ms-clear {
        display: none;
      }
    }
  }

  div.sendbutton {
    margin-left: 5px;
    
    button { color: black; }
  }

}
