@import 'views/styles/shared';


.header {
  padding: 10px 0;
  height: 60px;
  overflow: hidden;
  line-height: 40px;

  .icon.beach_access { 
    font-size: 0.8em;
  }

  h1 { font-size: 0.9em;}


}

.header__title {
  // display: flex;
  // align-items: center;

  // float: left;
  // font-size: rem(14px);
  // font-weight: 400;
  // line-height: 40px;
  // text-rendering: auto;
  // transform: translate(0,0);
  display: inline;
  font-family: 'grbook', Helvetica Neue, Arial, sans-serif;

}

.header__actions {
  @include clearfix;
  float: right;
  padding: 8px 0;
  line-height: 24px;

  li {
    float: left;
    list-style: none;

    &:last-child {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid #333;
    }

    &:first-child {
      border: none;
    }
  }

  .btn {
    display: block;
    margin: 0;
    font-size: rem(14px);
    line-height: 24px;
  }

  .link {
    display: block;
    fill: #98999a;
    transform: translate(0, 0);
  }

  .link--github {
    padding-top: 1px;
    width: 22px;
    height: 24px;
  }
}
